services:
  popular_movies_filming_location_app:
    build:
      context: ./backend      
      dockerfile: Dockerfile  
    env_file:
      - ./.env.docker
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    env_file:
      - ./.env.docker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/db/setup.schema.sql:/docker-entrypoint-initdb.d/setup.schema.sql

volumes:
  pgdata: