#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#toggle_globe {
  color: rgb(111, 111, 219);
  position: absolute; 
  z-index: 100;
  top: 3em;
  left: 3em;
}

#display_panel {
  background-color: rgb(2, 22, 45, 50%);
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  height: 35em;
  width: 20em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#display_panel::-webkit-scrollbar {
  width: 8px; /* width of the vertical scrollbar */
}

#display_panel::-webkit-scrollbar-track {
  background: #0c1f2e; /* color of the track (area the thumb slides on) */
  border-radius: 10px;
}

#display_panel::-webkit-scrollbar-thumb {
  background: #254461; /* color of the draggable handle */
  border-radius: 10px; /* adds rounded corners to the thumb */
}

#display_panel::-webkit-scrollbar-thumb:hover {
  background: #2c4b69; /* color of the thumb on hover */
}

#poster_image {
  padding-left: 2em;
  padding-right: 2em;
  height: clamp(15rem, 8vw, 25rem);
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
  border: none;
}

p {
  font-size: 2vh;
}

span {
  font-size: 3vh;
  color: rgb(77, 159, 199);
}

#movie_info_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 10px;
}

#movie_info_grid > :nth-child(3) {
  grid-column: 1 / -1;
}

#genre_tag_group {
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.genre_tag {
  padding: 3px 8px;
  color: pink;
  font-size: 1.5vh;
  background-color: rgb(58, 58, 214);
  border-radius: 50px;
  white-space: nowrap;
  display: inline-block;
}

.genre_expand_btn {
  margin: 6px;
  padding: 2px 8px;
  padding-bottom: 5px;
  font-size: 0.6rem;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: start;
}

#loc_tag_group {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.loc_tag {
  padding: 3px 8px;
  color: rgb(94, 2, 17);
  font-size: 1.5vh;
  background-color: rgb(151, 139, 3);
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  max-width: 30em;      
  overflow: hidden;
  text-overflow: ellipsis;
}